* text=auto

*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.cjs text eol=lf
*.mjs text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.mp3 binary
*.wav binary
*.mp4 binary
*.webm binary
*.node binary
*.dll binary
*.exe binary

*.md working-tree-encoding=UTF-8
